* {
  color: #19ecff;
}

@font-face {
  font-family: DIGITAL-Regular;
  src: url('/assets/font/DIGITAL-Regular.ttf');
}

table {
  display: none;
}

.box-card {
  position: relative;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    border-color: #23fff9;
    border-right: 2px solid;
    border-left: 2px solid;
    border-image: linear-gradient(
        to bottom,
        transparent 20px,
        #23fff9 20px,
        #23fff9 calc(100% - 20px),
        transparent calc(100% - 20px)
      )
      1;
  }

  &::after {
    position: absolute;
    top: 12px;
    left: 0;
    width: 100%;
    height: calc(100% - 12px);
    content: '';
    border-color: #23fff9;
    border-top: 2px solid;
    border-bottom: 3px solid;
    border-image: linear-gradient(
        to right,
        transparent 250px,
        #23fff9 250px,
        #23fff9 calc(100% - 20px),
        transparent calc(100% - 20px)
      )
      1;
  }
}

.t-l,
.t-r,
.b-l,
.b-r {
  position: absolute;
  background-size: contain;
}

.t-l {
  top: 0;
  left: 0;
  width: 260px;
  height: 30px;
  background-image: url('/assets/image/box/t-l.png');
}

.t-r {
  top: 0;
  right: 0;
  width: 25px;
  height: 40px;
  background-image: url('/assets/image/box/t-r.png');
}

.b-l {
  bottom: 0;
  left: 0;
  width: 260px;
  height: 30px;
  background-image: url('/assets/image/box/b-l.png');
}

.b-r {
  right: 0;
  bottom: 0;
  width: 25px;
  height: 25px;
  background-image: url('/assets/image/box/b-r.png');
}

.top-banner {
  position: absolute;
  width: 100%;
  height: 70px;
  background-image: url('/assets/image/top-banner.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;

  h1 {
    font-size: 36px;
    font-weight: bolder;
    line-height: 65px;
    text-align: center;
  }

  h2 {
    position: absolute;
    top: 0;
    right: 20px;
    width: 15%;
    height: 60px;
    font-family: DIGITAL-Regular, monospace;
    font-size: 3vw;
    font-weight: bolder;
    line-height: 60px;
    color: #fff;
    text-align: right;
    letter-spacing: 5px;
  }
}

.left {
  width: 400px;
  height: calc(100% - 120px);
  margin: 80px 20px;
}

.right {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 400px;
  height: calc(100% - 132px);
  margin: 80px 20px;
  text-align: right;

  h1 {
    width: 100%;
  }

  img {
    position: absolute;
    top: -10px;
    left: 0;
    z-index: 99;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
}

.left-top {
  width: 100%;
  height: 30%;
  min-height: 300px;

  .lt-stats-dash {
    width: 380px;
    height: 88px;
    margin-bottom: 20px;
    margin-left: 10px;
    background-image: url('/assets/image/lt-stats-dash.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;

    h3 {
      float: left;
      width: 50%;
      height: 30px;
      font-size: 14px;
      font-weight: bold;
      line-height: 30px;
      color: #6ff;

      &:nth-child(1) {
        padding-right: 65px;
        text-align: right;
      }

      &:nth-child(2) {
        padding-left: 65px;
      }
    }

    h4 {
      float: left;
      width: 50%;
      font-family: DIGITAL-Regular, monospace;
      font-size: 30px;
      letter-spacing: 20px;

      &:nth-child(3) {
        padding-left: 25px;
      }

      &:nth-child(4) {
        padding-left: 44px;
      }
    }
  }

  .lt-dash {
    width: 350px;
    height: calc(100% - 170px);
    margin-left: 25px;
    background-image: url('/assets/image/dash.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;

    > div {
      float: left;
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 100%;
      height: 33%;
      font-size: 20px;
      font-weight: bold;
      line-height: 25%;
      letter-spacing: 1px;
    }
  }
}

.left-bottom {
  width: 100%;
  height: 70%;
  max-height: calc(100% - 300px);
  margin-top: 20px;

  .paging {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    width: 130px;
    height: 10px;
    line-height: 10px;
    cursor: pointer;
  }

  .nav {
    display: flex;
    justify-content: end;
    width: calc(100% + 5px);
    height: 40px;
    margin: -20px -10px -5px 0;

    h3 {
      z-index: 999;
      width: 85px;
      height: 23px;
      font-size: 11px;
      line-height: 23px;
      color: #ccc;
      text-align: center;
      cursor: pointer;
      background-repeat: no-repeat;
      background-size: auto 100%;

      &.active {
        font-size: 12px;
        color: #6ff;
      }

      &:nth-child(1) {
        background-image: url('/assets/image/risk/red.png');
      }

      &:nth-child(2),
      &:nth-child(3) {
        background-image: url('/assets/image/risk/yellow.png');
      }

      &:nth-child(4) {
        background-image: url('/assets/image/risk/blue.png');
      }
    }
  }

  .risk {
    height: calc(100% - 85px);
    overflow: hidden;

    > div {
      display: flex;
      justify-content: start;
      height: 100px;
      padding: 8px 16px;

      img {
        width: 30%;
        height: 100%;
        margin-right: 10px;
      }

      > div {
        position: relative;

        h4 {
          display: flex;
          justify-content: space-between;
          height: 50%;
        }

        h5 {
          height: 25%;
          font-size: 12px;
          color: #fff;
        }

        img {
          position: absolute;
          top: 10px;
          left: 225px;
          width: 28px;
          height: 28px;
        }
      }
    }
  }
}

.bottom-left {
  width: calc(50% - 10px);
  height: 100%;

  #task-chart {
    width: 100%;
    height: calc(100% - 50px);
  }
}

.bottom-right {
  width: calc(50% - 10px);
  height: 100%;
  transform: rotateY(180deg);

  h2,
  .weather {
    text-align: right;
    transform: rotateY(180deg);
  }

  .weather {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 230px;
    padding: 0 40px;

    div {
      width: 100%;
      height: 100%;

      div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 16%;
        line-height: 40px;

        &:first-child {
          height: 20%;
        }

        h3 {
          line-height: 20px;
          text-align: left;
        }

        img {
          width: 28px;
          height: 28px;
        }
      }
    }
  }
}

.bottom {
  position: absolute;
  bottom: 20px;
  left: 440px;
  display: flex;
  justify-content: space-between;
  min-width: 600px;
  height: 300px;

  > div {
    background-image: url('/assets/image/dash.png');
    background-repeat: no-repeat;
    background-position: 20px 35px;
    background-size: calc(100% - 40px) calc(100% - 55px);
  }
}

.left,
.bottom {
  h2 {
    padding: 6px 15px;
    font-size: 18px;
  }
}

.ant-switch {
  z-index: 999;
}

.ant-switch-checked {
  background: rgb(30 70 75) !important;
}
