* {
  color: #19ecff;
}

@font-face {
  font-family: DIGITAL-Regular;
  src: url('/assets/font/DIGITAL-Regular.ttf');
}

.top-banner {
  position: absolute;
  width: 100%;
  height: 70px;
  background-image: url('/assets/image/top-banner.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;

  h1 {
    font-size: 36px;
    font-weight: bolder;
    line-height: 65px;
    text-align: center;
  }

  h2 {
    position: absolute;
    top: 0;
    right: 20px;
    width: 15%;
    height: 60px;
    font-family: DIGITAL-Regular, monospace;
    font-size: 3vw;
    font-weight: bolder;
    line-height: 60px;
    color: #fff;
    text-align: right;
    letter-spacing: 5px;
  }
}

.bottom {
  position: absolute;
  top: 80px;
  left: 20px;
  width: calc(100% - 40px);

  .box-card {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    margin-bottom: 10px;

    > div {
      width: calc(20% - 10px);
      height: 100%;
      background-image: url('/assets/image/card.png');
      background-repeat: no-repeat;
      background-size: 100% 100%;

      p {
        height: 30px;
        font-size: 16px;
        line-height: 30px;
        text-align: center;
      }

      h1 {
        height: 50px;
        font-size: 30px;
        line-height: 50px;
        text-align: center;
      }
    }
  }

  .box-dash {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 250px;
    background-image: url('/assets/image/dash.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;

    .chart {
      height: 100%;
    }
  }
}

.left,
.bottom {
  h2 {
    padding: 6px 15px;
    font-size: 18px;
  }
}
